<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading"></b>workpads.org </b></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">Project</h2>
        <ul class="contact-list">
          <li class="p-name">
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            ----------------
            <li><a href="/oath-for-orbit">Built for the frontier. 🚀</a></li>
            <li><a href="/common-questions">Common Questions</a></li>
            ----------------
            <li>Built by <a href="/common-questions">Babb.</a></li>

            {%- if site.phone -%}
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Links  </h2>
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <h2 class="footer-heading">Technical</h2>
        <a href="https://times.babb.tel">Workpads Protocol</a><br>
        <a href="https://times.babb.tel">Template Creation</a><br>
        <a href="https://times.babb.tel">Content Compression</a><br>
        <a href="https://times.babb.tel">Content Encoding</a><br>



      </div>

      <div class="footer-col footer-col-4">
        <h2 class="footer-heading">Community</h2>
        <a href="https://discord.workpads.org">Discord</a><br>

      </div>

    </div>

  </div>

  


</footer>
