---
layout: default
---

<div class="home-columns">
  <div class="column-left">
<div class="home">
  <h2>Documents for the frontier.</h2>
  <p><b>Workpads are documents that can be shared & viewed in browsers or apps - without passing through the Internet.</b></p>
  <p>Document content is encoded & compressed into strings, creating shareable links. Each Workpad displays content locally using templates and can be easily secured using encrypted keys.</p>
  <p>-----</p>
  <p>Workpads is based on the 'Business Assistance System' (BASICS) being developed by Babb, its global partners & volunteers. </p>
</div>
</div>

 <div class="column-right">
  <h2><b><a href="/updates">Updates</a></b></h2>
  <ul>
    {% for post in site.posts limit:5 %}      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span>{{ post.date | date: "%B %d, %Y" }}</span>
      </li>
    {% endfor %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  </ul>

  </div>
</div>